div.area {
    background-color: #F4F1ED;
	border: 2px solid #bc9a63;
	height: 400px;
	
	overflow-x: hidden;
	overflow-y: scroll;
}

h1.area {
	background-color: #bc9a63;
	border: 2px solid #bc9a63;
    border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #fcf1e4;
	line-height: 50px;
	margin: 0;
	text-align: center;
}

div.areaFooter {
	background-color: #bc9a63;
	border: 2px solid #bc9a63;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	min-height: 50px;
	text-align: center;
}

div.buttonsFooter{
	padding: 10px;
}

#itemsArea, #showArea {
	min-height: 500px;
	height: 80%;
	margin: 50px;
	width: 41%;
}

#itemsArea {
	float: left;
}

#showArea {
	float: right;
}

button.show {
	text-align: center;
}

button.items, button.area {
	-moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #bc9a63) );
	background:-moz-linear-gradient( center top, #fae4bd 5%, #bc9a63 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#bc9a63');
	background-color:#fae4bd;
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-bottom-left-radius:16px;
	text-indent:0;
	border:1px solid #bc9a63;
	display:inline-block;
	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
    margin-top: 10px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}

button.items:hover, button.area:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bc9a63), color-stop(1, #fae4bd) );
	background:-moz-linear-gradient( center top, #bc9a63 5%, #fae4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc9a63', endColorstr='#fae4bd');
	background-color:#eac380;
}

button.items:active, button.area:active {
	position:relative;
	top:1px;
}

button.items {
	width:150px;
}

#numOffers {
	color: #ffffff;	
}

/******* ITEMS ***********/

article.item {
	background-color: #fcf1e4;
	border-bottom: 1px solid #bc9a63;
	color: #9E855D;
	display: table;
	height: 150px;
	vertical-align: middle;
	width: 100%;
}

article.itemSelected {
	background-color: #FFF496;
	border-bottom: 1px solid #bc9a63;
	color: #EDC589;
	display: table;
	height: 150px;
	vertical-align: middle;
	width: 100%;
}

article.item:hover {
	cursor: pointer;
}
/*
p.desc {
	display: table-cell;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 15px;
	vertical-align: middle;
	width: 80%;
}*/

li.desc {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 5px;
	padding-left: 25px;
	text-decoration: none;
	width: 80%;
}

ul.desc {
	padding: 10px;
}

p.num {
	background-color: rgba(255, 255, 255, 0.5);
	display: table-cell;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 18%;
}

@media screen and (max-width: 1024px){
	#itemsArea, #showArea {
		width: 80%;
		margin: 0 auto;
		margin-top: 5%;
		float: none;
		display: block;
	}
}