<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistroDesguace</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarOfertasSeleccionadas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>BorrarPeticion</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarOfertasRequestOk</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarIdDesguacebyCif</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegistroCliente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarOfertasRequest</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarPeticionesNifP</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarIdClientebyNif</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AceptarOfertas</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginClientes</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarNombreCliente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FinishCom</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NewPeticion</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarUnidades</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DarPeticionesNifF</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InitCom</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginDesguace</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PassManager</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroDesguace</servlet-name>
        <url-pattern>/RegistroDesguace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarOfertasSeleccionadas</servlet-name>
        <url-pattern>/DarOfertasSeleccionadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPeticion</servlet-name>
        <url-pattern>/BorrarPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarOfertasRequestOk</servlet-name>
        <url-pattern>/DarOfertasRequestOk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarIdDesguacebyCif</servlet-name>
        <url-pattern>/DarIdDesguacebyCif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCliente</servlet-name>
        <url-pattern>/RegistroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarOfertasRequest</servlet-name>
        <url-pattern>/DarOfertasRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarPeticionesNifP</servlet-name>
        <url-pattern>/DarPeticionesNifP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarIdClientebyNif</servlet-name>
        <url-pattern>/DarIdClientebyNif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarOfertas</servlet-name>
        <url-pattern>/AceptarOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClientes</servlet-name>
        <url-pattern>/LoginClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarNombreCliente</servlet-name>
        <url-pattern>/DarNombreCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishCom</servlet-name>
        <url-pattern>/FinishCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPeticion</servlet-name>
        <url-pattern>/NewPeticion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarUnidades</servlet-name>
        <url-pattern>/DarUnidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarPeticionesNifF</servlet-name>
        <url-pattern>/DarPeticionesNifF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitCom</servlet-name>
        <url-pattern>/InitCom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDesguace</servlet-name>
        <url-pattern>/LoginDesguace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassManager</servlet-name>
        <url-pattern>/PassManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
