build/
bin/
tmp/

*~
*.tmp
*.bak
*.swp
*~.nib
*.properties
*local.properties
*private.properties
.settings/
*.com
*.class
*.dll
*.exe
*.o
*.so
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

DesguaceJava/build/built-jar.properties
/Sor_Servicios/dist/
/DesguaceJava/dist/
/SorAMQ/dist/
SorAMQ/build/
/Taller/dist/
/Testing/

Rama DesguaceJava/
