<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UDDISecurityServiceSoapBinding" />
        <binding name="UDDIPublicationServiceSoapBinding" />
        <binding name="UDDIInquiryServiceSoapBinding" />
        <binding name="JUDDIApiServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.43.56:8080/juddiv3/services/security"
        binding="basicHttpBinding" bindingConfiguration="UDDISecurityServiceSoapBinding"
        contract="Security.UDDI_Security_PortType" name="UDDISecurityImplPort" />
      <endpoint address="http://192.168.43.56:8080/juddiv3/services/publish"
        binding="basicHttpBinding" bindingConfiguration="UDDIPublicationServiceSoapBinding"
        contract="Publish.UDDI_Publication_PortType" name="UDDIPublicationImplPort" />
      <endpoint address="http://192.168.43.56:8080/juddiv3/services/inquiry"
        binding="basicHttpBinding" bindingConfiguration="UDDIInquiryServiceSoapBinding"
        contract="Inquiry.UDDI_Inquiry_PortType" name="UDDIInquiryImplPort" />
      <endpoint address="http://192.168.43.56:8080/juddiv3/services/juddi-api"
        binding="basicHttpBinding" bindingConfiguration="JUDDIApiServiceSoapBinding"
        contract="Juddiapi.JUDDI_Api_PortType" name="JUDDIApiImplPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
      <add key="org.apache.juddi.v3.client.log.level" value="DEBUG" />
      <!-- options are CONSOLE, EVENTLOG, FILE-->
      <add key="org.apache.juddi.v3.client.log.target" value="CONSOLE" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>